body {
  background: #ddd;
  font: 14px/16px serif;
  margin: 2em auto;
  max-width: 95%;
  width: 80ch;
}
a {
  color: inherit;
}
header, article footer {
  color: #aaa;
  padding: 1em 0;
  text-align: center;
}
header a, article footer a{
  display: inline-block;
  padding: 0 2ch;
}
article {
  background: #fff;
  color: #666;
  font: 16px/20px serif;
  padding: 1ch;
}
article img {
  width: 100%;
}
/* accordion on articles */
article {
  display: none;
}
article:target, #last {
  display: block;
}
